<HTML>
<HEAD>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript">
var socket = io.connect();
var name;
var dst;
var room_name;
socket.on('error', function(reason) {
	console.log('Error: ' + reason);
});
socket.on('connect', function() {
	name = document.getElementById('my name').innerHTML;
	dst = document.getElementById('dst').innerHTML;
	room_name = getRoomName(name, dst);
	socket.emit('enter chatroom', room_name);
});
socket.on('message', function(msg) {
	$('#receiveMsg').prepend($('<p>' + msg.replace(name+' : ', 'me : ') + '</p>'));
});
socket.on('get history', function(msg) {
	var messages = msg.toString().split(',');
	for(var i = messages.length-1; i >= 0; i--) {
		$('#history').append($('<p>' + messages[i].replace(name+' : ', 'me : ') + '</p>'));
	}
});

function SendMsg(dst) {
	var msgText = document.getElementById('message');
	socket.emit('send message', msgText.value, dst);
	msgText.value = '';
	msgText.focus();
}
function GetHistory() {
	socket.emit('get history', room_name);
}
function getRoomName(name, dst) {
	if(name > dst)
		return (dst + '_' + name);
	else
		return (name + '_' + dst);
}
</script>

<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" />
<link rel="stylesheet" href="/application.css" />
</HEAD>
<BODY>

<div class="topbar">
	<div class="topbar-inner">
		<div class="fill">
			<div class="container">
				<a class="brand" href="#">YamashitaMessenger</a>
				<ul class="nav">
				</ul>
				<ul class="nav secondary-nav">
					<li><a href="#"><div id="my name"><%= name %></div></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="containner-fluid">
	<div class="row-fluid">
		<h1>ヽ('ω')ﾉ三<div id="dst"><%= dst %></div>三ヽ('ω')ﾉ</h1>
		<form class="well">
			<input type="text" class="xlarge" id="message" value="">
			<input type="button" class="btn primary" value="send" onclick="SendMsg('<%= dst %>')">
		</form>
		<div id="receiveMsg"></div>
		<HR>
		<div id="history"></div>
		<input type="button" class="btn" value="get history" onclick="GetHistory()">
	</div>
</div>

</BODY>
</HTML>
