<h1>ヽ('ω')ﾉ三ヽ('ω')ﾉ</h1>
<div id="login form">
<p><a href="register_page">register</a></p>
	<form method="POST" action="/login">
		<input type="text" name="name" value="">
		<input type="password" name="pass" value="">
		<input type="submit" class="btn primary" value="login">
	</form>
	<p><%= (typeof loginMsg === 'undefined')?'':loginMsg %></p>
</div>
