<HTML>
<HEAD>
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" />
<style type="text/css">
	body {
		padding-top: 60px;
		padding-left: 60px;
	}
</style>

</HEAD>
<BODY>

<div class="topbar">
	<div class="topbar-inner">
		<div class="fill">
			<div class="container">
				<a class="brand" href="#">YamashitaMessenger</a>
				<ul class="nav">
				</ul>
				<ul class="nav secondary-nav">
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="containner-fluid">
	<div class="row-fluid">
		<h1>ヽ('ω')ﾉ三ヽ('ω')ﾉ</h1>
		<div id="login form">
		<p><a href="register_page">register</a></p>
			<form method="POST" action="/login">
				<input type="text" name="name" value="">
				<input type="password" name="pass" value="">
				<input type="submit" value="login">
			</form>
			<p><%= (typeof loginMsg === 'undefined')?'':loginMsg %></p>
		</div>
	</div>
</div>

</BODY>
</HTML>
