<h1>Register</h1>
<div id="register-form">
<form method="POST" action="/register">
	name:<input type="text" name="name" value="">
	pass:<input type="password" name="pass" value="">
	<input type="submit" class="btn primary" value="register">
</form>
<p><%= (typeof registerMsg === 'undefined')?'':registerMsg %></p>
</div>
