<HTML>
<HEAD>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript">
var socket = io.connect();
var name;
socket.on('error', function(reason) {
	console.log('Error: ' + reason);
});
socket.on('connect', function() {
	name = document.getElementById('my name').innerHTML;
	socket.emit('enter room');
});
socket.on('message', function(msg) {
	StartChat(msg.split(' : ')[0]);
});
socket.on('update user list', function(users) {
	var user_list = '';
	for(var i = 0; i < users.length; i++) {
		if(users[i]!=name)
			user_list += '<p>' + users[i] + ' <input type="button" value="Start Chat" onclick="StartChat(\'' + users[i] + '\')"></p>';
	}
	document.getElementById('userList').innerHTML = user_list;
});

function StartChat(dst) {
	window.open('/chat?dst=' + dst, 'chat room');
}
</script>

<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" />
<link rel="stylesheet" href="/application.css" />
</HEAD>
<BODY>

<div class="topbar">
	<div class="topbar-inner">
		<div class="fill">
			<div class="container">
				<a class="brand" href="#">YamashitaMessenger</a>
				<ul class="nav">
					<li><a href="/logout">logout</a></li>
				</ul>
				<ul class="nav secondary-nav">
					<li><a href="#"><div id="my name"><%= name %></div></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="containner-fluid">
	<div class="row-fluid">
		<h1>ヽ('ω')ﾉ三ヽ('ω')ﾉ</h1>
		<HR>
		<p>user list</p>
		<div id="userList"></div>
	</div>
</div>

</BODY>
</HTML>
