<h1>ヽ('ω')ﾉ三ヽ('ω')ﾉ</h1>
<HR>
<p>user list</p>
<div id="userList"></div>
<script type="text/javascript">
var socket = io.connect();
var name;
socket.on('error', function(reason) {
	console.log('Error: ' + reason);
});
socket.on('connect', function() {
	name = document.getElementById('my name').innerHTML;
	socket.emit('enter room');
});
socket.on('message', function(msg) {
	StartChat(msg.split(' : ')[0]);
});
socket.on('update user list', function(users) {
	var user_list = '';
	for(var i = 0; i < users.length; i++) {
		if(users[i]!=name)
			user_list += '<p>' + users[i] + ' <input type="button" class="btn" value="Start Chat" onclick="StartChat(\'' + users[i] + '\')"></p>';
	}
	document.getElementById('userList').innerHTML = user_list;
});

function StartChat(dst) {
	window.open('/chat?dst=' + dst, 'chat room');
}
</script>
